* {
    margin: 0px auto;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    font-family: Poppins;
}

/* Header Styles */
.nav-container {
    margin-top: 70px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

nav h4 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
}

ul li {
    list-style: none;
    padding-left: 34px;
}

li a {
    text-decoration: none;
}

.nav-icon {
    width: 16px;
    height: 16px;
}

/* header-body-container styles */
.header-body-container {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    align-items: center;
}

.left-side-container {
    max-width: 1440px;
    max-height: 3306px;
}

.left-side-container h1 {
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    /* max-width: 582px;
    max-height: 133px; */
}

.left-side-container p {
    max-width: 505px;
    max-height: 60.9px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-left: -3px;
}

.left-side button {
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
}

.right-side {
    background-image: url('/images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 70px;
}

.right-side>img {
    max-width: 440px;
    max-height: 414px;
}

/* Section 1 Styles Start */
.logo-container {
    max-width: 1440px;
    max-height: 3306px;
    background: #FFF;
    margin-bottom: 100px;
}

.logo-container img {
    max-width: 97.059px;
    max-height: 28px;
    margin-left: 60px;
}

/* section 2 Styles Start */
.section2-container {
    max-width: 1440px;
    max-height: 3306px;
}

.section2-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
}

.box {
    max-width: 329px;
    max-height: 476px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.box>img {
    max-width: 300px;
    max-height: 256px;
    flex-shrink: 0;
}

.box-content {
    padding: 15px;
}

.section2-container>h5 {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
}

/* Section 3 Styles */
.section3-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 3306px;
}

.section3-container>div {
    width: 50%;
}

.section3-img {
    max-width: 404px;
    max-height: 270px;
}

.section3-text-container {
    display: flex;
    height: auto;
    align-items: center;
}

.section3-text-container>div>h3 {
    color: #0A0826;
    font-size: 2.3rem;
    font-weight: 700;

}

.section3-text-container>div>p {
    max-width: 501px;
    max-height: 88px;
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    margin-left: -5px;

}
.section3-text-container>div>button {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    background: #E02C6D;
    border: none;


}





@media screen and (max-width: 576px) {

    .nav-container,
    .header-body-container {
        flex-direction: column;
        justify-content: center;
    }

    .header-body-container {
        flex-direction: column-reverse;
        text-align: center;
    }


    .logo-container {
        margin-top: 30px;

    }

    ul li {
        padding-left: 5px;
    }

    .box-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}